<!-- views/communityPage.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cộng đồng - <%= community.name %></title>
  <link rel="stylesheet" href="/stylesheets/communitypage.css">
</head>
<body>
  <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/message">Messages</a></li>
      <li><a href="/community/page">Community</a></li>
      <li><a href="/friend/Orderfriend">Friend</a></li>
    </ul>
  </header>
  
  <!-- Community Header with background image -->
  <div class="community-header" style="background-image: url('<%= community.CommunityPicture.filepath %>');"></div>
  
  <!-- Community Name and Description -->
  <p style="display: none;" id="communityId"> <%= community._id %></p>
  <h1><%= community.name %></h1>
  <p><%= community.description %></p>

  <!-- Button to toggle post form visibility -->
  <div>
    <div id="form"></div>
    <button id="btn-1" onclick="toggleForm()">Đăng bài</button>
  </div>

  <h2>Bài viết trong <%= community?.name %></h2>
  <ul>
    <% if (posts && Array.isArray(posts)) { %> 
      <% posts.forEach(function(postData) { %>
        <li>
          <div><%= postData.post.Author?.username %></div>
          <p><%= postData.post.content %></p>
          
          <!-- Add media to the post -->
          <% if (postData.media && postData.media.length > 0) { %>
            <% postData.media.forEach(postMedia => { %>
                <% let mediaContent = ''; %>
                <% if (postMedia.MediaType === 'Image') { %>
                    <img src="<%= postMedia.filepath %>" alt="media" />
                <% } else if (postMedia.MediaType === 'Video') { %>
                    <video controls>
                        <source src="<%= postMedia.filepath %>" type="video/mp4">
                    </video>
                <% } else if (postMedia.MediaType === 'Audio') { %>
                    <audio controls>
                        <source src="<%= postMedia.filepath %>" type="audio/mp3">
                    </audio>
                <% } %>
            <% }); %>
          <% } %>
        </li>
      <% }); %>
    <% } else { %>
      <p>Không có bài viết trong cộng đồng.</p>
    <% } %>
  </ul>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/javascripts/communitypage.js" ></script>
</body>
</html>
